/*=====================================RESET (JÁ É PADRÃO) =======================================*/
body {margin:0px; font-family:Verdana, Arial, Helvetica, sans-serif; font-size:10px; background:#fff; color:#000; text-align:center; overflow-x:hidden;}
img {border:none;}
a {color:#000; font-size:1em;}
a img {border:none; padding:0; margin:0;}
form {margin:0px;}
ul, li, ol {list-style-type:none; margin:0; padding:0;}
h1, h2, h3, h4, h5, h6, p, span, div {padding:0px; margin:0px 0px 0px 0px; font-size:100%;}
input, select {padding:0px; margin:0px; font-size:100%;}
input[type=submit], input[type=radio], input[type=checkbox], select {cursor:pointer;}

.icones{background:url(../imagens/icones.png) no-repeat 0 0; display:block; margin:auto;}

#container{width:100%; height:auto; position:relative; float:none; margin:auto; background:#D4D0C8;}
#disputa{width:1000px; height:600px; background:#EA5E00; margin:auto; position:relative;}
#participante1{position:absolute; left:0;}
#participante2{position:absolute; right:0;}
.resultado_voto{display:none;}
#carregando{display:none;}
.carregando_voto{display:none;}

